<div class="container">
  <div class="canvas">
    <canvas appDiagramCanvas [paths]="paths" [points]="coordinates" [options]="options"></canvas>
  </div>
  <div class="control-panel">
    <label for="multiplier-field">Multiplier</label>
    <input type="number" id="multiplier-field" [(ngModel)]="options.multiplier" (ngModelChange)="applyOptions()"/>

    <label for="modulus-field">Modulus</label>
    <input type="number" id="modulus-field" [(ngModel)]="options.modulus" (ngModelChange)="applyOptions()"/>

    <label>
      <input type="checkbox" [(ngModel)]="options.showDigits" (ngModelChange)="applyOptions()" />
      Show numbers
    </label>
  </div>
</div>